[submodule "browser-extension"]
    path = browser-extension
    url = https://github.com/iam-liam/LLMNTL-extension.git
[submodule "embed"]
    path = embed
    url = https://github.com/iam-liam/LLMNTL-embed.git
    branch = main
